main {
    padding: 1.5em;
}
h1, h2, h3, h4 {
    font-weight: bold;
    margin-bottom: .5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: .5em;
}


input[type='text'],
input[type='number'] {
    padding: 7px 5px;
    border-radius: 4px;
    border: 1px solid #c2c2c2;
}
input[type='checkbox'],
input[type='radio'] {
    margin: 5px;
}
.row.message {
    margin-bottom: 1.5em;
}
.filters div {
    margin-top: 1em;
}

.filters div:first-child {
    margin-top: 0;
}

#reset_filters {
    margin-top: 1em;
}

.pages_nav ul {
    margin: auto;
    padding-bottom: 1.5em;
}

.pages_nav li {
    display: inline-block;
}

.pages_nav a {
    display: block;
    padding: .5em;
    border-radius: 4px;
    background-color: #c3c3c3;
    color: black;
}

.pages_nav a.selected {
    background-color: #c2c2c2;
    font-weight: 700;
}

.book_item {
    margin: 0 0 20px 0;
    padding: 15px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.book_tags li {
    display: inline-block;
    margin-right: 3px;
}

.book_tags li:last-child {
    margin-right: 0;
}

.book_image {
    position: relative;
    padding-bottom: 100%;
}

.book_image img {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}


